<input id="searchbar" type="text"
        name="search" placeholder="Search for ingredients">
      
    <!-- ordered list -->
    <ul id='list'>
        <li class="Fruitsandveg">Apple</li>
        <li class="Fruitsandveg">Squash</li>
        <li class="Fruitsandveg">Brocolli</li>
        <li class="Fruitsandveg">Banana</li>
        <li class="Fruitsandveg">Tomato</li>
        <li class="Fruitsandveg">Orange</li>
    </ul>
      
      <ul id='list'>
        <li class="Dairy">Milk</li>
        <li class="Dairy">Heavy Cream</li>
        <li class="Dairy">Eggs</li>
        <li class="Dairy">Yogurt</li>
        <li class="Dairy">Sour Cream</li>
        <li class="Dairy">Cream Cheese</li>
    </ul>
    <!-- linking javascript -->
    <script src="./Fruitsandveg.js"></script>