<br>
<div class="col">
  <input id="searchbar" type="text" name="search" placeholder="Search for ingredients">
</div>
<br>
{{!-- fruits and veggies --}}
<div class="card">
  <div class="card-body">
    <div>
      <h5>Fruits and Vegetables</h5>
    </div>
    <button type="button" class="btn btn-secondary m-1">Lemon</button>
    <button type="button" class="btn btn-secondary">Squash</button>
    <button type="button" class="btn btn-secondary">Banana</button>
    <button type="button" class="btn btn-secondary">Tomato</button>
    <button type="button" class="btn btn-secondary">Tomatoes</button>
    <button type="button" class="btn btn-secondary">Grapes</button>
    <button type="button" class="btn btn-secondary">Salad</button>
    <button type="button" class="btn btn-secondary">Celery</button>
    <button type="button" class="btn btn-secondary">Onion</button>
    <button type="button" class="btn btn-secondary">Beans</button>
    <button type="button" class="btn btn-secondary">Corn</button>
    <button type="button" class="btn btn-secondary">Carrot</button>
    <button type="button" class="btn btn-secondary">Pepper</button>
  </div>
</div>
{{!-- dairy --}}
<div class="card">
  <div class="card-body">
    <div>
      <h5>Dairy</h5>
    </div>
    <button type="button" class="btn btn-secondary m-1">Butter</button>
    <button type="button" class="btn btn-secondary">Milk</button>
    <button type="button" class="btn btn-secondary">Banana</button>
    <button type="button" class="btn btn-secondary">Tomato</button>
  </div>
</div>
{{!-- meat --}}
<div class="card">
  <div class="card-body">
    <div>
      <h5>Meat</h5>
    </div>
    <button type="button" class="btn btn-secondary m-1">Chicken</button>
  </div>
</div>
<!-- linking javascript -->
<script src="./javascript/ingredients.js"></script>