<div class="card-content ingredCont" id="fruitsVeggies">
    <h4>Fruits and Vegetables</h4>
</div>

<div class="card-content ingredCont" id="dairy">
    <h4>Dairy</h4>
</div>

<div class="card-content ingredCont" id="meat">
    <h4>Meat</h4>
</div>

<div class="card-content ingredCont" id="staples">
    <h4>Staples</h4>
</div>