<br>
<div class="card">
<input id="searchbar" type="text"
        name="search" placeholder="Search for ingredients">
     </div> 
     <br>
    <!-- ordered list -->
    <div class="d-flex flex-wrap card">
    <ul id='list'>
        <li class="Fruitsandveg card-body m-3">Apple</li>
        <li class="Fruitsandveg card-body m-3">Squash</li>
        <li class="Fruitsandveg card-body m-3">Brocolli</li>
        <li class="Fruitsandveg card-body m-3">Banana</li>
        <li class="Fruitsandveg card-body m-3">Tomato</li>
        <li class="Fruitsandveg card-body m-3">Orange</li>
    </ul>
      </div>
      <br>
      <div class="d-flex flex-wrap card">
      <ul id='list'>
        <li class="Dairy card-body m-3">Milk</li>
        <li class="Dairy card-body m-3">Heavy Cream</li>
        <li class="Dairy card-body m-3">Eggs</li>
        <li class="Dairy card-body m-3">Yogurt</li>
        <li class="Dairy card-body m-3">Sour Cream</li>
        <li class="Dairy card-body m-3">Cream Cheese</li>
    </ul>
    </div>
    <!-- linking javascript -->
    <script src="./Fruitsandveg.js"></script>