<div class="card-content ingredCont" id="fruitsVeggies">
    <h4>Fruits and Vegetables</h4>
    <div class="fruit-veggie-btn-container d-flex flex-wrap justify-content-center"></div>
</div>

<div class="card-content ingredCont" id="dairy">
    <h4>Dairy</h4>
    <div class="dairy-btn-container d-flex flex-wrap justify-content-center"></div>
</div>

<div class="card-content ingredCont" id="meat">
    <h4>Meat</h4>
    <div class="meat-btn-container d-flex flex-wrap justify-content-center"></div>
</div>

<div class="card-content ingredCont" id="staples">
    <h4>Staples</h4>
    <div class="staples-btn-container d-flex flex-wrap justify-content-center"></div>
</div>