<br>
<div class="col">
  <input id="searchbar" type="text" name="search" placeholder="Search for ingredients">
</div>
<br>
<div class="card">
  <div class="card-body">
    <div>
      <h5>Fruits and Vegetables</h5>
    </div>
    <button type="button" class="btn btn-secondary m-1">lemon</button>
    <button type="button" class="btn btn-secondary">Squash</button>
    <button type="button" class="btn btn-secondary">Brocolli</button>
    <button type="button" class="btn btn-secondary">Banana</button>
    <button type="button" class="btn btn-secondary">Tomato</button>
  </div>
</div>
<!-- linking javascript -->
<script src="./javascript/ingredients.js"></script>