<div class="col-4 mb-5">
    <div class="card">
        <div class="card-image" style="background-image: url('{{recipe_image}}'); background-size: cover; height: 300px; position: relative;"></div>
        <div class="card-body">
            <h3 class="card-title">{{recipe_name}}</h3>
            <div>
                <button class="btn btn-primary">View</button>
                <button class="btn btn-danger">Remove</button>
            </div>
        </div>

    </div>
</div>