<H1>FAVORITES</H1>
<div class="container">
    <div class="row">
<button class="btn favorite-btn col justify-left">Main</button>
<br>
<button class="btn favorite-btn col justify-left">Appetizer</button>
<br>
<button class="btn favorite-btn col justify-left">Dessert</button>
<br>
<button class="btn favorite-btn col justify-left">Side Dish</button>
<br>
{{!-- </div> --}}
</div>

<div class="grid">
    <div class="g-col-4">Recipe</div>
    <div class="g-col-4">Recipe</div>
    <div class="g-col-4">Recipe</div>
</div>
</div>

{{recipeCard}}