<header class="masthead">
    <div class="container">
        <div class="masthead-heading">Pantry</div>
        <div class="masthead-subheading">Search for recipes with ingredients you already have in stock!</div>
        <a class="btn btn-success btn-x1 text-uppercase" href="/search">Get Started</a>
    </div>
</header>
<script src="/javascript/homepage.js"></script>