{{!-- <h1>{{title}}</h1> --}}
<header class="masthead">
    <div class="container">
<div class="masthead-subheading">Search for Recipes</div>
<div class="masthead-subheading text-uppercase"> With ingredients you already have in stock!</div>
<a class="btn btn-primary btn-x1 text-uppercase" href="/ingredients">Get Started</a>
</div>
</header>