{{!-- <h1>{{title}}</h1> --}}
<header class="masthead">
    <div class="container">
        <div class="masthead-heading">Search for Recipes</div>
        <div class="masthead-subheading"> With ingredients you already have!</div>
        <a class="btn btn-success btn-x1 text-uppercase" href="/search">Get Started</a>
    </div>
</header>