<header class="masthead">
    <div class="landing-container">
        <div class="masthead-heading">
            <p>Pantry</p>
        </div>
        <div class="masthead-subheading">
            <p>Search for recipes with ingredients you already have in stock!</p>
        </div>
        <a class="btn btn-success btn-x1 text-uppercase w-25" href="/search">
            Get Started
        </a>
    </div>
</header>
<script src="/javascript/homepage.js"></script>