<div class="mx-auto container mt-5 mb-5 row">
  <form class="mx-auto login-form col-md-5">
    <h2>Login</h2>
    <div class="mb-3">
      <label for="username-login">Username:</label>
      <input type="text" class="form-control" id="username-login" />
    </div>
    <div class="mb-3">
      <label for="password-login">Password:</label>
      <input type="password" class="form-control" id="password-login" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-success">LOGIN</button>
    </div>
  </form>
  <form class="mx-auto signup-form col-md-5">
    <h2>Sign Up</h2>
    <div class="mb-3">
      <label for="username-signup">Username:</label>
      <input type="text" class="form-control" id="username-signup" />
    </div>
    <div class="mb-3">
      <label for="password-signup">Password:</label>
      <input type="password" class="form-control" id="password-signup" />
      <i>Password must be at least 7 characters.</i>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-success">SIGN UP</button>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>