<div class="container pt-5">
    <div class="row">
        <div id="ingredients" class="col-6 col-md-4">
            {{>ingredients }}
        </div>

        <div id="recipe-list" class="col-md-8">
            <div class="row">
                <div class="col-sm-6">
                    {{>recipe-list }}
                </div>
            </div>
        </div>
    </div>
</div>