<div class="row gx-5 m-0">
    <!--<div class="row gx-5">-->
        
        <div id="ingredients" class="col-6 col-md-4 px-5">
            {{> ingredient-categories}}
        </div>

        
        <div id="recipe-list" class="col-md-8 d-flex flex-wrap row justify-content-center">
            <div id="pan"><a href="https://zaclark369.github.io/jumping_fryingpan_sidescroller/" target="_blank"><img src="./img/loading-pot.gif"></a>
            <p>Add ingredients to get started!</p>
            </div>
            {{#if loggedIn}}
            {{> recipe-list}}
            {{else}}
            {{> recipe-list-not-loggedIn}}
        </div>
        {{/if}}
    <!--</div>-->
</div>
<script src="./javascript/generate-ingredients.js"></script>
<script src="./javascript/ingredient-buttons.js"></script>