<div class="container pt-3 m-0">
    <div class="row gx-5">
        
        <div id="ingredients" class="col-6 col-md-4">
            <h2>Ingredients</h2>
        </div>

        {{#if loggedIn}}
        <div id="recipe-list" class="col-md-8 d-flex flex-wrap">
            {{> recipe-categories }}
            {{> recipe-list}}
        </div>
        {{else}}
        <div id="recipe-list" class="col-md-8 d-flex flex-wrap">
            {{> recipe-categories }}
            {{> recipe-list-not-loggedIn}}
        </div>
        {{/if}}
    </div>
</div>
<script src="./javascript/ingredients.js"></script>