<div class="mobile-subnav d-md-none d-block">
    <div class="subnav-wrapper d-flex justify-content-around m-2">
        <button type="click" id="ingredients-button" class="btn btn-success px-5 col-5">Ingredients</button>
        <button type="click" id="recipes-button" class="btn btn-secondary px-5 col-5">Recipes</button>
    </div>
</div>
<div class="row gx-5 m-0">
        
        <div id="ingredients" class="px-5 col-lg-4 col-md-6 px-lg-5 h-auto">
            {{> ingredient-categories}}
        </div>

        
        <div id="recipe-list" class="col-lg-8 col-md-6 d-none d-flex d-md-flex d-sm-none flex-wrap justify-content-center">
            <div id="pan"><a href="https://zaclark369.github.io/jumping_fryingpan_sidescroller/" target="_blank"><img src="./img/loading-pot.gif"></a>
            <p>Add ingredients to get started!</p>
            </div>
            {{#if loggedIn}}
            {{> recipe-list}}
            {{else}}
            {{> recipe-list-not-loggedIn}}
        </div>
        {{/if}}
</div>
<script src="./javascript/generate-ingredients.js"></script>
<script src="./javascript/ingredient-buttons.js"></script>
<script src="./javascript/mobile-functionality.js"></script>