/* SITE STYLE PALETTE */
:root {
  --navbar: #d9d9d9;
  --pantrybackground: #fdfff4;
  --green: #86bd5f;
  --beige: #fdfff4;
  --mainText: "JetBrains Mono", monospace;
}

html,
body,
main {
  margin: 0;
}

/* CARDS AND RECIPE LIST*/
#recipe-list {
  height: 100%;
}

#recipe-list .btn {
  width: 100%;
}

.card-body {
  background-color: var(--navbar);
}

.card {
  height: 300px;
  padding: 0 !important;
}

/* card icons */
#recipe-list h2 a,
.favorite,
.remove-btn {
  text-decoration: none;
  float: right;
}

.remove-btn {
  display: inline-block;
}

/* BUTTONS */
.remove-btn:hover {
  cursor: pointer;
}

/* NAVIGATION BAR */
.bg-grey {
  background-color: var(--navbar);
}

.wrapper {
  margin: 0;
  height: 100%;
}

.navbar-brand {
  font-size: 2.25rem;
  padding-left: 0.4rem;
}

.navbar i {
  position: absolute;
  font-size: 25px;
  right: 10;
  outline: none;
  text-decoration: none;
  color: black;
  top: 30%;
}

.navbar {
  padding-left: 0.6rem;
}

/* HOMEPAGE */
/* size dependant and addition of masthead */
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  color: #fff;
  text-align: center;
  height: calc(100vh - 80px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/masthead-bg-resize.jpg");
  background-repeat: repeat, no-repeat;
  background-size: cover;
}

header > a {
  filter: grayscale(0%);
}

.masthead-heading,
.masthead-subheading {
  font-family: var(--mainText);
}

header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 25px;
}

header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.masthead .btn-success {
  border: none;
  width: 15vw;
}

/* INGREDIENTS */
#ingredients h4 {
  text-align: center;
}

.ingredCont {
  margin: 5px;
  background-color: var(--beige);
  border-radius: 5px;
  margin-bottom: 20px;
}

.ingredBtn,
.recipe-categories button {
  margin: 2px;
  text-align: center;
  border: none;
  width: 105px;
  font-family: sans-serif;
}

#ingredients {
  background-color: var(--green);
  height: 100%;
  border-radius: 5px;
}

#ingredients h2 {
  text-align: center;
  padding: 5px;
  color: var(--beige);
}
